!!! 5
%html
  %head
    %title Edinburgh Stories - beta

    %meta(name="viewport" content="width=device-width, initial-scale=1")

    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)

    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/")
            Edinburgh Stories
            %span.beta beta
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: active_if_controller_path('home') }
              = link_to 'Home', root_path
            %li{class: active_if_controller_path('memories') }
              = link_to 'Browse', memories_path
            - if logged_in?
              %li{class: active_if_controller_path('my/memories') }
                = link_to 'My Memories', my_memories_path
              %li{class: active_if_controller_path('my/profile') }
                = link_to 'My Profile', my_profile_path
              %li
                = link_to 'Sign Out', logout_path, method: :delete
            - else
              %li{class: active_if_controller_path('users') }
                = link_to 'Sign Up', signup_path
              %li{class: active_if_controller_path('sessions') }
                = link_to 'Sign In', login_path
          %a.feedback.btn.btn-primary(href="mailto:edinburgh-stories@armoin.com?subject=Feedback") Feedback

    .flashes
      - flash.each do |class_name, message|
        %div{class: class_name}
          = message
          %span.close &times;

    .searchwrapper.not-implemented
      .container.clearfix

        .dropdowns
          %ul.area.fauxselect
            %li
              %a.ddTitle Explore by Area &#x25BE;

              %ul
                %li
                  %a Balerno
                %li
                  %a Blackhall
                %li
                  %a Brunstfield
                %li
                  %a Clemiston

          %ul.category.fauxselect
            %li
              %a.ddTitle Explore by Category &#x25BE;

              %ul
                %li
                  %a Animals
                %li
                  %a Architecture
                %li
                  %a Childhood
                %li
                  %a Education
                %li
                  %a Environment
                %li
                  %a Events
                %li
                  %a Fashion
                %li
                  %a Health and Welfare
                %li
                  %a Homes
                %li
                  %a Leisure
                %li
                  %a Sport
                %li
                  %a Technology
                %li
                  %a Transport
                %li
                  %a Work

        .searchForm
          %form
            %input(type="text")
            %input(type="submit")

    .background
      = yield

    .container-fluid
      %footer
        %p &copy; The City of Edinburgh Council 2014

    - unless Rails.env.test?
      %script(type="text/javascript" src="//cdn.mailto.ninja/js/v0/mailto.ninja.js")
      :javascript
        mailto.ninja({ showOnMobile: true })

